/triangle.txt
/triangle27.txt
/triangle56Left.txt
/triangle56Middle.txt
/triangle56Right.txt
/triangleIncorrectNumberOfValues.txt
/triangleNoLines.txt
/triangleWrongDelimiter.txt
/triangle_test_100rows.txt
