/Algorithm.java
/AlgorithmProvider.java
/IncorrectShapeException.java
/NumericShape.java
/NumericShapeFileSource.java
/NumericShapeOperation.java
/NumericShapeSource.java
/SourceNotAccessibleException.java
